body {
  	margin: 0;
  	overflow: hidden;
}

.myCanvas {
	display: block;
}

.tilebar {
	position: absolute;
	height: auto;
	width: fit-content;
	/* Center horizontally */
	left: 50%;
	transform: translateX(-50%);
	/* Place at bottom of screen */
	bottom: 5vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 2px solid darkgrey;
	padding: 0px;
}

.tilebar-button {
	width: 100px;
	height: 100px;

	padding: 2px;
	margin: 0px;
	border-radius: 20px;
	border: 0px;

	gap: 8px;
	flex: 0 0 auto;
}

.tilebar-button img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#exportButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;

	padding: 10px;
	font-size: 40px;
	border: 1px solid black;
    border-radius: 10px;
}

#clearButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;

	padding: 10px;
	font-size: 40px;
    border: 1px solid black;
    border-radius: 10px;
}