body {
  	margin: 0;
  	overflow: hidden;

	height: 100vh;
	background: #2b2f38;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	position: relative;
	top: 8vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}

.main-button {
	width: 220px;
	padding: 14px;
	font-size: 18px;
	border-radius: 14px;
	border: none;
	cursor: pointer;
	background: #e6e8ef;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.main-button:hover {
  	background: #ffffff;
}

.play-input {
	display: flex;
	gap: 8px;
	margin-top: 6px;
}

.play-input input {
	width: 400px;
	padding: 10px 12px;
	font-size: 14px;
	border-radius: 10px;
	border: none;
}

.small-button {
	padding: 10px 14px;
	font-size: 14px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background: #cfd3e3;
	font-family: 'Courier New', Courier, monospace;
}

.small-button:hover {
  	background: #ffffff;
}

.hidden {
  	display: none;
}
