body {
  	margin: 0;
  	overflow: hidden;
}

.myCanvas {
	display: block;
}

#fadeOverlay {
	position: fixed;
    inset: 0;
    background-color: #2b2f38;
    z-index: 10;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

#fadeOverlay.hidden {
	opacity: 0;
}

#hud {
	position: fixed;
	left: 50%;
	bottom: 24px;
	transform: translateX(-50%);
	display: flex;

	gap: 12px;
	align-items: center;
	z-index: 1;
}

#moveCounter {
	font-family: system-ui, sans-serif;
	font-size: 24px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 6px 10px;
	border-radius: 6px;
}

#resetButton {
	width: 42px;
	height: 42px;

	background: rgba(0, 0, 0, 0.6);
	border-radius: 6px;
	border: 0px;
	padding: 0px;
}

#resetButton:hover {
	background: rgba(0, 0, 0, 1);
}

#resetButton:active img {
	transform: scale(0.95);
}

#resetButton img {
	width: 80%;
	height: 80%;
	object-fit: contain;
}