body {
  	margin: 0;
  	overflow: hidden;
}

.myCanvas {
	display: block;
}

#fadeOverlay {
	position: fixed;
    inset: 0;
    background-color: #2b2f38;
    z-index: 10;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

#fadeOverlay.hidden {
	opacity: 0;
}

.overlay-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;

	size: 100px;
	font-size: 40px;
}